# vim: filetype=toml
[".config/git/themes/catppuccin.gitconfig"]
type = "file"
url = "https://raw.githubusercontent.com/catppuccin/delta/refs/heads/main/catppuccin.gitconfig"

# [".config/bat/themes/Catppuccin Mocha.tmTheme"]
# type = "file"
# url = "https://raw.githubusercontent.com/catppuccin/bat/refs/heads/main/themes/Catppuccin%20Mocha.tmTheme"
