#!/usr/bin/env bash
# vim: filetype=bash

export PATH="$HOME/.local/bin/:$PATH"

{{ if eq .chezmoi.osRelease.id "arch" }}

echo "Installing Arch packages"

sudo pacman -Syu --needed {{ range .packages.linux.arch }} {{.}}{{end}}

{{ end }}
