services:
  qdrant:
    image: qdrant/qdrant:v1.18.2
    container_name: qdrant
    restart: unless-stopped
    expose:
      - "6333"
      - "6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage:z
      - ./qdrant_snapshots:/qdrant/snapshots:z
    env_file: .env
    environment:
      - QDRANT__LOG_LEVEL=INFO
      - QDRANT__SERVICE__GRPC_PORT=6334
    networks:
      - edge
volumes:
  qdrant_storage: null
  qdrant_snapshots: null
networks:
  edge:
    external: true
