services:
  qdrant:
    image: qdrant/qdrant:v1.19.1
    container_name: qdrant
    restart: unless-stopped
    ports:
      - 6333:6333
      - 6334:6334
      - 6335:6335
    # expose:
    #   - 6333
    #   - 6334
    #   - 6335
    volumes:
      - ./qdrant_data:/qdrant/storage
    env_file: .env
    environment:
      - QDRANT__SERVICE__API_KEY=${QDRANT__SERVICE__API_KEY}
      - QDRANT__LOG_LEVEL=DEBUG
      - QDRANT__SERVICE__HTTP_PORT=6333
      - QDRANT__SERVICE__GRPC_PORT=6334
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:6333/healthz"]
    #   interval: 30s
    #   timeout: 10s
    #   retries: 3
    networks:
      - qdrant-network
      - edge-network

volumes:
  qdrant_data: null

networks:
  qdrant-network:
    name: qdrant-network
  edge-network:
    external: true