alias -- v=nvim
alias -- n=nvim
alias -- vi=nvim
alias -- vim=nvim

#bat
alias -- cat=bat

#eza
alias -- eza='eza --icons auto --git'
alias -- l='eza -lF --time-style=long-iso --icons'
alias -- la='eza -lah --tree'
alias -- ll='eza -l'
alias -- lla='eza -la'
alias -- ls='eza -h --git --icons --color=auto --group-directories-first -s extension'
alias -- lt='eza --tree'
alias -- tree='eza --tree --icons --tree'

#grep
alias -- grep='rg'
alias -- df='df -h'
alias -- du='du -h'

alias -- reload='source ~/.zshrc'

#direnv
alias -- direnv-install='echo "use flake" > .envrc && direnv allow'

alias -- work='cd ~/Projects/Work/Instivo'
alias -- personal='cd ~/Projects/Personal'

