OPENCLAW_COMPLETION="$HOME/.local/share/zsh/site-functions/_openclaw"

if [ -f $OPENCLAW_COMPLETION ]; then
	zinit ice as"completion"
	zinit snippet $OPENCLAW_COMPLETION
fi

# vim: noet ci pi sts=0 sw=4 ts=4
# vim: filetype=bash
