export ANTHROPIC_API_KEY={{ (bitwarden "item" "ANTHROPIC_API_KEY").login.password }}
export DEEPSEEK_API_KEY={{ (bitwarden "item" "DEEPSEEK_API_KEY").login.password }}
export GEMINI_API_KEY={{ (bitwarden "item" "GEMINI_API_KEY").login.password }}
export GROQ_API_KEY={{ (bitwarden "item" "GROQ_API_KEY").login.password }}
export OPENAI_API_KEY={{ (bitwarden "item" "OPENAI_API_KEY").login.password }}
export SRC_ENDPOINT={{ (bitwarden "item" "sourcegraph.com").login.username }}
export SRC_ACCESS_TOKEN={{ (bitwarden "item" "sourcegraph.com").login.password }}
