[Install46F492E0ACFF84D4]
Default=fabiosouzadev.dev-edition-default
Locked=1

[Install4F96D1932A9F858E]
Default=fabiosouzadev.default
Locked=1

[Profile1]
Name=dev-edition-default
IsRelative=1
Path=fabiosouzadev.dev-edition-default

[Install49D14F8C16CF4A50]
Default=fabiosouzadev.default
Locked=1

[Profile0]
Default=1
Name=default
IsRelative=1
Path=fabiosouzadev.default
StoreID=863f5b21
ShowSelector=0

[InstallBCAEFFD141225C21]
Default=fabiosouzadev.dev-edition-default
Locked=1

[General]
StartWithLastProfile=1
Version=2

[Profile2]
Name=default-beta
IsRelative=1
Path=fabiosouzadev.default