http://:20128 {
    encode gzip
    reverse_proxy omniroute:20128
}

http://:20129 {
    encode gzip
    reverse_proxy omniroute:20129
}

http://:20132 {
    encode gzip
    reverse_proxy omniroute:20132
}

http://:9119 {
    encode gzip
    reverse_proxy hermes:9119
}

http://:8642 {
    encode gzip
    reverse_proxy hermes:8642
}
