(common) {
    encode zstd gzip

    header {
        -Server
        X-Content-Type-Options nosniff
        X-Frame-Options "DENY"
        Referrer-Policy "strict-origin-when-cross-origin"
    }

    log {
        output stdout
        format json
    }
}

http://:5001 {
    import common
    reverse_proxy dockge:5001
}

http://:8642 {
    import common
    reverse_proxy hermes:8642 {
        transport http {
            read_timeout 300s
            write_timeout 300s
        }
    }
}

http://:9119 {
    import common
    reverse_proxy hermes:9119
}

http://:9377 {
    import common
    reverse_proxy camofox:9377 {
        health_uri /health
    }
}

http://:20128 {
    import common

    # reverse_proxy omniroute:20128 {
    #     health_uri /
    # }
    reverse_proxy omniroute:20128
}

http://:20129 {
    import common

    # reverse_proxy omniroute:20129 {
    #     health_uri /
    # }
    reverse_proxy omniroute:20129
}

http://:20132 {
    import common

    # reverse_proxy omniroute:20132 {
    #     health_uri /
    # }

    reverse_proxy omniroute:20132
}