:20130, http://localhost:20130, http://193.123.97.209:20130 {
    encode gzip
    reverse_proxy omniroute:20128
}

:20131 {
    encode gzip
    reverse_proxy omniroute:20129
}

:20132 {
    encode gzip
    reverse_proxy omniroute:20132
}