services:
  caddy:
    image: caddy:alpine
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp" # HTTP/3 support
      - "20130:20130"
      - "20131:20131"
      - "20132:20132"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - edge
volumes:
  caddy_data:
  caddy_config:

networks:
  edge:
    external: true