#!/usr/bin/env bash
# vim: filetype=bash


{{ if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}

sudo pacman -Syu --noconfirm --needed \
              bluez \
              bluez-utils
sudo systemctl enable --now bluetooth

{{ else }}

{{ end }}
