#!/usr/bin/env bash

set -euo pipefail

# Pretty print functions
info()    { echo -e "\033[1;34m[INFO]\033[0m $*"; }
warn()    { echo -e "\033[1;33m[WARN]\033[0m $*"; }
error()   { echo -e "\033[1;31m[ERROR]\033[0m $*"; }
success() { echo -e "\033[1;32m✅ $*\033[0m"; }


{{ if eq .chezmoi.os "linux" -}}
{{ if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}

sudo pacman -S gnome-keyring libsecret

{{ end -}}

{{ if eq .chezmoi.osRelease.id "ubuntu" -}}

sudo apt update && sudo apt install gnome-keyring libsecret-1-0 libsecret-tools

{{ end -}}
{{ end -}}

#Install CodeRabbit CLI
info ">>>>> Installing CodeRabbit CLI"

curl -fsSL https://cli.coderabbit.ai/install.sh | sh

success ">>> CodeRabbit Cli Installed Version: $(coderabbit --version)"

# vim: filetype=bash
