#!/usr/bin/env bash
# vim: filetype=bash


{{-  if .rtl8821ce.enabled }}

{{ if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}

sudo pacman -Sy linux-headers dkms bc

if type -P paru >/dev/null 2>&1; then
  paru -Sy --noconfirm --needed rtl8821ce-dkms-git
elif type -P yay >/dev/null 2>&1; then
  yay -Sy --noconfirm --needed rtl8821ce-dkms-git
fi

{{ else }}

echo "This script is only for Arch based systems. Exiting..."
exit 1
{{ end }}
{{- end }}
