#!/usr/bin/env bash
# vim: filetype=bash


{{ if eq .chezmoi.osRelease.idLike "arch" }}
echo "Installing nix"

sudo pacman -Syu --noconfirm --needed nix
sudo systemctl enable --now nix-daemon
nix-env --install --attr devenv -f https://github.com/NixOS/nixpkgs/tarball/nixpkgs-unstable

{{ end }}
