#!/usr/bin/env bash
# vim: filetype=bash

{{ if .kernels.install }}

{{ if eq .chezmoi.osRelease.idLike "arch" }}


echo "Installing Arch Kernels"

sudo pacman -Syu --noconfirm --needed {{ range .linux.arch.kernels }} {{.}}{{end}}

{{ else }}

echo "This script is only for Arch based systems. Exiting..."
exit 1

{{ end }}
{{ end }}
