#!/usr/bin/env bash
# vim: filetype=bash

{{ if .kernels.install }}

{{ if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}


echo "Installing Arch Kernels"

sudo pacman -Syu --noconfirm --needed {{ range .linux.arch.kernels }} {{.}}{{end}}

{{ else }}

echo "This script is only for Arch based systems. Exiting..."
exit 1

{{ end }}
{{ end }}
