#!/usr/bin/env bash
# vim: filetype=bash


{{-  if .rtl8821ce.enabled }}
{{ if eq .chezmoi.osRelease.idLike "arch" }}

yay -Syu --noconfirm --needed rtl8821ce-dkms-git

{{ else }}

echo "This script is only for Arch based systems. Exiting..."
exit 1

{{ end }}
exit 1
{{- end }}
