#!/usr/bin/env bash
{{ if eq .chezmoi.os "linux" -}}
set -euo pipefail

# Pretty print functions
info()    { echo -e "\033[1;34m[INFO]\033[0m $*"; }
warn()    { echo -e "\033[1;33m[WARN]\033[0m $*"; }
error()   { echo -e "\033[1;31m[ERROR]\033[0m $*"; }
success() { echo -e "\033[1;32m✅ $*\033[0m"; }

info ">>>Installing nix"
export RUST_BACKTRACE=full && curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install --no-confirm 
info "Nix version: $(nix --version)"
. /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh


info "Installing devenv"
nix-env --install --attr devenv -f https://github.com/NixOS/nixpkgs/tarball/nixpkgs-unstable


sudo tee /etc/nix/nix.custom.conf > /dev/null <<'EOF'
eval-cores = 0
trusted-users = root ${USER}
extra-substituters = https://devenv.cachix.org
extra-trusted-public-keys = devenv.cachix.org-1:w1cLUi8dv3hnoSPGAuibQv+f9TZLr6cv/Hm9XgU50cw=
EOF

sudo systemctl restart nix-daemon

{{ end -}}

# vim: filetype=bash
