export EDITOR=nvim
export GPG_TTY=$TTY
export OPENCODE_CONFIG=$HOME/.config/opencode/custom-config.json
export BW_SESSION=$(rbw unlock)
export GEMINI_API_KEY={{ (rbw "GEMINI_API_KEY").data.password }}
