local wezterm = require 'wezterm'
local config = wezterm.config_builder()
local act = wezterm.action

{{- if .settings.osid | lower | contains "windows"}}
-- Replace 'Ubuntu' with your distro name
config.default_domain = 'WSL:Zupwsl.tar'
{{- end }}

local function is_inside_vim(pane)
  local tty = pane:get_tty_name()
  if tty == nil then return false end

  local success, stdout, stderr = wezterm.run_child_process
    { 'sh', '-c',
      'ps -o state= -o comm= -t' .. wezterm.shell_quote_arg(tty) .. ' | ' ..
      'grep -iqE \'^[^TXZ ]+ +(\\S+\\/)?g?(view|l?n?vim?x?)(diff)?$\'' }

  return success
end

local function is_outside_vim(pane) return not is_inside_vim(pane) end

local function bind_if(cond, key, mods, action)
  local function callback (win, pane)
    if cond(pane) then
      win:perform_action(action, pane)
    else
      win:perform_action(act.SendKey({key=key, mods=mods}), pane)
    end
  end

  return {key=key, mods=mods, action=wezterm.action_callback(callback)}
end

config.color_scheme = 'Rosé Pine Moon (base16)'
config.keys = {
    bind_if(is_outside_vim, 'h', 'ALT', act.ActivatePaneDirection('Left')),
    bind_if(is_outside_vim, 'l', 'ALT', act.ActivatePaneDirection('Right')),
}

return config