local wezterm = require 'wezterm'
local config = wezterm.config_builder()

-- Replace 'Ubuntu' with your distro name
config.default_domain = 'WSL:Zupwsl.tar'
config.color_scheme = 'Rosé Pine Moon (base16)'

return config