README.md

# Distro-specific scripts
{{- if not (.settings.osid | lower | contains "linux" ) }}
.chezmoiscripts/linux/**
.chezmoidata/linux/**
.chezmoiexternals/linux/**
.mozilla/**
.config/systemd/**
{{- end }}

{{- if not (.settings.osid | lower | contains "windows") }}
.chezmoiscripts/windows/**
.chezmoidata/windows/**
AppData/**
scoop/**
{{- end }}

{{- if not (.settings.osid | lower | contains "darwin") }}
.chezmoiscripts/darwin/**
.chezmoidata/darwin/**
Library/LaunchAgents/**
{{- end }}

{{- if (.settings.osid | lower | contains "windows") }}
.bashrc
.zshrc
.zshrc.d/**
.chezmoiscripts/unix/**
{{- end }}