README.md

# Distro-specific scripts
{{- if not (.settings.osid | lower | contains "linux" ) }}
.chezmoiscripts/linux/**
{{- end }}

{{- if ne (.settings.osid | lower | contains "windows" }}
.chezmoiscripts/windows/**
AppData/**
scoop/**
{{- end }}

{{- if ne (.settings.osid | lower | contains "darwin" }}
.chezmoiscripts/darwin/**
{{- end }}