{
  "numStartups": 1,
  "installMethod": "native",
  "autoUpdates": false,
  "customApiKeyResponses": {
    "approved": [],
    "rejected": [
      "T9qDq6GoIrw-PS0VXwAA"
    ]
  },
  "tipsHistory": {
    "new-user-warmup": 1,
    "plan-mode-for-complex-tasks": 1
  },
  "hasCompletedOnboarding": true,
  "autoUpdatesProtectedForNative": true,
  "firstStartTime": "2026-06-05T19:08:14.975Z",
  "opusProMigrationComplete": true,
  "sonnet1m45MigrationComplete": true,
  "seenNotifications": {},
  "migrationVersion": 13,
  "userID": "74232a4cdaa4b2a9998adc3bfc7898e1081263ba33311a7019df112e441e7ce5",
  "projects": {
    "/Users/fabiosouzadev/.local/share/chezmoi": {
      "allowedTools": [],
      "mcpContextUris": [],
      "mcpServers": {},
      "enabledMcpjsonServers": [],
      "disabledMcpjsonServers": [],
      "hasTrustDialogAccepted": true,
      "projectOnboardingSeenCount": 1,
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "lastGracefulShutdown": true,
      "lastVersionBase": "2.1.165",
      "exampleFiles": [
        "config",
        ".chezmoi.yaml.tmpl",
        "run_once_before_102-configure-swapfile-zram.sh.tmpl",
        "504-zup.zsh.tmpl",
        "config.tmpl"
      ],
      "exampleFilesGeneratedAt": 1780686501584,
      "lastCost": 0.29167875000000004,
      "lastAPIDuration": 21392,
      "lastAPIDurationWithoutRetries": 21337,
      "lastToolDuration": 0,
      "lastDuration": 27038,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastTotalInputTokens": 517,
      "lastTotalOutputTokens": 287,
      "lastTotalCacheCreationInputTokens": 70991,
      "lastTotalCacheReadInputTokens": 0,
      "lastTotalWebSearchRequests": 0,
      "lastFpsAverage": 8,
      "lastFpsLow1Pct": 63.93,
      "lastModelUsage": {
        "fr-claude/claude-haiku-4-5-20251001": {
          "inputTokens": 515,
          "outputTokens": 209,
          "cacheReadInputTokens": 0,
          "cacheCreationInputTokens": 31107,
          "webSearchRequests": 0,
          "costUSD": 0.04044375
        },
        "fr-claude/claude-opus-4-8": {
          "inputTokens": 2,
          "outputTokens": 78,
          "cacheReadInputTokens": 0,
          "cacheCreationInputTokens": 39884,
          "webSearchRequests": 0,
          "costUSD": 0.25123500000000004
        }
      },
      "lastSessionId": "9718ac98-d041-4133-8989-7185a3f2dce8",
      "lastSessionMetrics": {
        "frame_duration_ms_count": 203,
        "frame_duration_ms_min": 0.11178699999800301,
        "frame_duration_ms_max": 26.589606999998068,
        "frame_duration_ms_avg": 1.1556296748768096,
        "frame_duration_ms_p50": 0.5673539999988861,
        "frame_duration_ms_p95": 3.5141627999989806,
        "frame_duration_ms_p99": 15.536365999999052
      }
    }
  },
  "githubRepoPaths": {
    "fabiosouzadev/dotfiles": [
      "/Users/fabiosouzadev/.local/share/chezmoi"
    ]
  },
  "lastReleaseNotesSeen": "2.1.165",
  "officialMarketplaceAutoInstallAttempted": true,
  "officialMarketplaceAutoInstalled": true,
  "opus48LaunchSeenCount": 1,
  "tipLifetimeShownCounts": {
    "new-user-warmup": 1,
    "plan-mode-for-complex-tasks": 1
  }
}