[settings]
{{- $wakatimeKeyFile := joinPath .chezmoi.sourceDir "dot_keys" "encrypted_wakatime-key.txt.age" -}}
api_key = {{ include $wakatimeKeyFile | decrypt | trim }}

[internal]
cli_version = v2.14.8

# vim: filetype=ini