{
  "numStartups": 0,
  "theme": "dark",
  "preferredNotifChannel": "auto",
  "verbose": false,
  "editorMode": "normal",
  "autoCompactEnabled": true,
  "autoScrollEnabled": true,
  "showTurnDuration": true,
  "externalEditorContext": false,
  "showMessageTimestamps": false,
  "hasSeenTasksHint": false,
  "hasUsedStash": false,
  "hasUsedBackgroundTask": false,
  "queuedCommandUpHintCount": 0,
  "diffTool": "auto",
  "customApiKeyResponses": {
    "approved": [],
    "rejected": []
  },
  "env": {},
  "tipsHistory": {},
  "memoryUsageCount": 0,
  "promptQueueUseCount": 0,
  "btwUseCount": 0,
  "todoFeatureEnabled": true,
  "showExpandedTodos": false,
  "briefTranscript": false,
  "messageIdleNotifThresholdMs": 60000,
  "autoConnectIde": false,
  "autoInstallIdeExtension": true,
  "fileCheckpointingEnabled": true,
  "terminalProgressBarEnabled": true,
  "cachedDynamicConfigs": {},
  "cachedGrowthBookFeatures": {},
  "respectGitignore": true,
  "copyFullResponse": false,
  "unpinOpus47LaunchEffort": false,
  "hasCompletedOnboarding": true
}