{
  "numStartups": 16,
  "installMethod": "native",
  "autoUpdates": false,
  "theme": "light-ansi",
  "customApiKeyResponses": {
    "approved": [
      "T9qDq6GoIrw-PS0VXwAA"
    ],
    "rejected": []
  },
  "tipsHistory": {
    "new-user-warmup": 3,
    "plan-mode-for-complex-tasks": 3,
    "terminal-setup": 3,
    "color-when-multi-clauding": 4,
    "memory-command": 4,
    "theme-command": 5,
    "colorterm-truecolor": 6,
    "prompt-queue": 12,
    "enter-to-steer-in-relatime": 12,
    "todo-list": 13,
    "install-github-app": 14,
    "install-slack-app": 14,
    "status-line": 15
  },
  "promptQueueUseCount": 2,
  "firstStartTime": "2026-04-01T13:41:00.328Z",
  "opusProMigrationComplete": true,
  "sonnet1m45MigrationComplete": true,
  "hasCompletedOnboarding": true,
  "lastOnboardingVersion": "2.1.81",
  "userID": "0c74c89643c92652a20164bce95efe648879d68a08b41729a8dad6fc2cfbc47f",
  "clientDataCache": {
    "data": null,
    "timestamp": 1775050905831
  },
  "lastReleaseNotesSeen": "2.1.138",
  "projects": {
    "/home/fabio.souza": {
      "allowedTools": [],
      "mcpContextUris": [],
      "mcpServers": {},
      "enabledMcpjsonServers": [],
      "disabledMcpjsonServers": [],
      "hasTrustDialogAccepted": false,
      "projectOnboardingSeenCount": 1,
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "exampleFiles": [],
      "lastCost": 0,
      "lastAPIDuration": 0,
      "lastAPIDurationWithoutRetries": 0,
      "lastToolDuration": 0,
      "lastDuration": 135110,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastTotalInputTokens": 0,
      "lastTotalOutputTokens": 0,
      "lastTotalCacheCreationInputTokens": 0,
      "lastTotalCacheReadInputTokens": 0,
      "lastTotalWebSearchRequests": 0,
      "lastFpsAverage": 0.92,
      "lastFpsLow1Pct": 25.91,
      "lastModelUsage": {},
      "lastSessionId": "4057a7a0-ddd2-463f-935f-8272545e058d",
      "lastSessionMetrics": {
        "frame_duration_ms_count": 113,
        "frame_duration_ms_min": 0.13764299999456853,
        "frame_duration_ms_max": 56.65077700000006,
        "frame_duration_ms_avg": 6.24543823893806,
        "frame_duration_ms_p50": 3.682111000000077,
        "frame_duration_ms_p95": 20.0171671999993,
        "frame_duration_ms_p99": 36.60808263999955
      }
    },
    "/home/fabio.souza/Workspaces/Work/Zup/flex-suspension-ms": {
      "allowedTools": [],
      "mcpContextUris": [],
      "mcpServers": {},
      "enabledMcpjsonServers": [],
      "disabledMcpjsonServers": [],
      "hasTrustDialogAccepted": true,
      "projectOnboardingSeenCount": 2,
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "exampleFiles": [
        "ProductStartConsumer.java",
        "PortinBusiness.java",
        "RestoreProductStartConsumer.java",
        "SourceSystemBusiness.java",
        "OffersBusiness.java"
      ],
      "exampleFilesGeneratedAt": 1776172937164,
      "lastCost": 2.22988,
      "lastAPIDuration": 509991,
      "lastAPIDurationWithoutRetries": 509673,
      "lastToolDuration": 983413,
      "lastDuration": 814323,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastTotalInputTokens": 408051,
      "lastTotalOutputTokens": 7585,
      "lastTotalCacheCreationInputTokens": 0,
      "lastTotalCacheReadInputTokens": 0,
      "lastTotalWebSearchRequests": 0,
      "lastFpsAverage": 13.54,
      "lastFpsLow1Pct": 833.8,
      "lastModelUsage": {
        "kimi-k2.5:cloud": {
          "inputTokens": 408051,
          "outputTokens": 7585,
          "cacheReadInputTokens": 0,
          "cacheCreationInputTokens": 0,
          "webSearchRequests": 0,
          "costUSD": 2.22988
        }
      },
      "lastSessionId": "95a247d6-7871-485d-8432-019a1f80f1f6",
      "lastSessionMetrics": {
        "frame_duration_ms_count": 11331,
        "frame_duration_ms_min": 0.06765399999858346,
        "frame_duration_ms_max": 16.169869000000062,
        "frame_duration_ms_avg": 0.4150264040244966,
        "frame_duration_ms_p50": 0.41080699999838544,
        "frame_duration_ms_p95": 0.7093091000162529,
        "frame_duration_ms_p99": 1.03730884000381,
        "hook_duration_ms_count": 92,
        "hook_duration_ms_min": 0,
        "hook_duration_ms_max": 241,
        "hook_duration_ms_avg": 20.880434782608695,
        "hook_duration_ms_p50": 0,
        "hook_duration_ms_p95": 68.30000000000004,
        "hook_duration_ms_p99": 124.52000000000044,
        "pre_tool_hook_duration_ms_count": 83,
        "pre_tool_hook_duration_ms_min": 0,
        "pre_tool_hook_duration_ms_max": 61,
        "pre_tool_hook_duration_ms_avg": 7.108433734939759,
        "pre_tool_hook_duration_ms_p50": 1,
        "pre_tool_hook_duration_ms_p95": 44.89999999999999,
        "pre_tool_hook_duration_ms_p99": 51.97999999999992
      },
      "lastGracefulShutdown": true
    },
    "/home/fabio.souza/Workspaces/Work/Zup/ms-interactions-ia-3": {
      "allowedTools": [],
      "mcpContextUris": [],
      "mcpServers": {},
      "enabledMcpjsonServers": [],
      "disabledMcpjsonServers": [],
      "hasTrustDialogAccepted": true,
      "projectOnboardingSeenCount": 0,
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "exampleFiles": [
        "FeignClientAuth.java",
        "mvnw",
        "FeignClientBffAuthConfiguration.java",
        "mvnw.cmd",
        "FeignClientMsAuthConfig.java"
      ],
      "exampleFilesGeneratedAt": 1776952435832,
      "lastCost": 0,
      "lastAPIDuration": 0,
      "lastAPIDurationWithoutRetries": 0,
      "lastToolDuration": 0,
      "lastDuration": 15167624,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastTotalInputTokens": 0,
      "lastTotalOutputTokens": 0,
      "lastTotalCacheCreationInputTokens": 0,
      "lastTotalCacheReadInputTokens": 0,
      "lastTotalWebSearchRequests": 0,
      "lastFpsAverage": 0,
      "lastFpsLow1Pct": 44.98,
      "lastModelUsage": {},
      "lastSessionId": "c27085a1-e90f-4590-ac9d-b28fc51e159a",
      "lastSessionMetrics": {
        "frame_duration_ms_count": 73,
        "frame_duration_ms_min": 0.04624000005424023,
        "frame_duration_ms_max": 22.23297199999979,
        "frame_duration_ms_avg": 1.6167074520933045,
        "frame_duration_ms_p50": 0.8970450000015262,
        "frame_duration_ms_p95": 4.700358799999934,
        "frame_duration_ms_p99": 13.20985351999932,
        "hook_duration_ms_count": 1,
        "hook_duration_ms_min": 285,
        "hook_duration_ms_max": 285,
        "hook_duration_ms_avg": 285,
        "hook_duration_ms_p50": 285,
        "hook_duration_ms_p95": 285,
        "hook_duration_ms_p99": 285
      }
    },
    "/home/fabio.souza/Workspaces/Work/Zup/ms-interactions": {
      "allowedTools": [],
      "mcpContextUris": [],
      "mcpServers": {},
      "enabledMcpjsonServers": [],
      "disabledMcpjsonServers": [],
      "hasTrustDialogAccepted": true,
      "projectOnboardingSeenCount": 2,
      "hasClaudeMdExternalIncludesApproved": false,
      "hasClaudeMdExternalIncludesWarningShown": false,
      "lastGracefulShutdown": true,
      "exampleFiles": [
        "FeignClientAuth.java",
        "FeignClientBffAuthConfiguration.java",
        "FeignClientMsAuthConfig.java",
        "FeignClientProductOrdersAuth.java",
        "FeignClientcClaroGateway.java"
      ],
      "exampleFilesGeneratedAt": 1778519575030,
      "lastHintSessionId": "a6bfc74e-ff5a-4d1b-a93a-2a1e000f4a7a",
      "lastSessionFirstPrompt": "Help me fix the issues reported by /doctor below.  For each issue: briefly explain what the fix will do, then ask me to confirm before running any shell command that deletes files, modifies global con",
      "lastSessionModified": 1778519872769,
      "lastCost": 0,
      "lastAPIDuration": 0,
      "lastAPIDurationWithoutRetries": 0,
      "lastToolDuration": 0,
      "lastDuration": 138458,
      "lastLinesAdded": 0,
      "lastLinesRemoved": 0,
      "lastTotalInputTokens": 0,
      "lastTotalOutputTokens": 0,
      "lastTotalCacheCreationInputTokens": 0,
      "lastTotalCacheReadInputTokens": 0,
      "lastTotalWebSearchRequests": 0,
      "lastFpsAverage": 0.2,
      "lastFpsLow1Pct": 50.31,
      "lastModelUsage": {},
      "lastSessionId": "4861610d-de06-4684-8082-6649aa426ab5",
      "lastSessionMetrics": {
        "frame_duration_ms_count": 29,
        "frame_duration_ms_min": 0.20050200000059704,
        "frame_duration_ms_max": 19.875246000000516,
        "frame_duration_ms_avg": 3.0777684482760255,
        "frame_duration_ms_p50": 1.7572590000054333,
        "frame_duration_ms_p95": 11.388213999991411,
        "frame_duration_ms_p99": 18.090237599996392,
        "hook_duration_ms_count": 1,
        "hook_duration_ms_min": 233,
        "hook_duration_ms_max": 233,
        "hook_duration_ms_avg": 233,
        "hook_duration_ms_p50": 233,
        "hook_duration_ms_p95": 233,
        "hook_duration_ms_p99": 233
      }
    }
  },
  "officialMarketplaceAutoInstallAttempted": true,
  "officialMarketplaceAutoInstalled": true,
  "migrationVersion": 13,
  "skillUsage": {
    "gsd-map-codebase": {
      "usageCount": 3,
      "lastUsedAt": 1776954670199
    }
  },
  "changelogLastFetched": 1778519570709,
  "autoUpdatesProtectedForNative": true,
  "additionalModelOptionsCache": [
    {
      "value": "llama3.1:8b",
      "label": "llama3.1:8b",
      "description": "Detected from Ollama"
    },
    {
      "value": "gemini-3-flash-preview:latest",
      "label": "gemini-3-flash-preview:latest",
      "description": "Detected from Ollama"
    },
    {
      "value": "gemma4:latest",
      "label": "gemma4:latest",
      "description": "Detected from Ollama"
    },
    {
      "value": "gemma3n:e4b",
      "label": "gemma3n:e4b",
      "description": "Detected from Ollama"
    },
    {
      "value": "gemma4:31b-cloud",
      "label": "gemma4:31b-cloud",
      "description": "Detected from Ollama"
    }
  ],
  "additionalModelOptionsCacheScope": "openai:http://localhost:11434/v1",
  "seenNotifications": {}
}