services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:latest
    container_name: openwebui
    restart: unless-stopped
    expose:
      - "8080"
    volumes:
      - openwebui_data:/app/backend/data
    networks:
      - edge-network

volumes:
  openwebui_data: null

networks:
  omniroute-network:
    external: true
  edge-network:
    external: true