# === VPS-SPECIFIC FILTERS ===
# Ignore desktop/GUI scripts when running on VPS
{{- if not .settings.vps }}
vps/**
{{- end }}

# === TERMUX FILTERS ===
# Ignore Termux-specific files when NOT on Termux
{{- if not .settings.termux }}
termux/**
{{- end }}

# Distro-specific scripts
{{- if not (.settings.osid | lower | contains "linux" ) }}
linux/**
{{- end }}

{{- if not (.settings.osid | lower | contains "windows") }}
windows/**
{{- end }}

{{- if not (.settings.osid | lower | contains "darwin") }}
darwin/**
{{- end }}

{{- if (.settings.osid | lower | contains "windows") }}
unix/**
{{- end }}

