#!/usr/bin/env bash

set -euo pipefail

{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}

info ">>>>>>> Installing WM packages <<<"
{{- $root := . }}
{{- range .packages.linux.wm }}
{{-     $wmName     := .name }}
{{-     $wmFlavors  := .flavors }}
{{-     $enabled  := false }}
{{-     if and (eq $wmName "i3") ( $root.i3.install ) }}
{{-         $enabled  = true }}
{{-     end }}
{{-     if and (eq $wmName "niri") ( $root.niri.install ) }}
{{-         $enabled = true }}
{{-     end }}
{{-     if $enabled }}
            info "Processing WM: {{ $wmName }} on {{$root.osid}}"
{{-         range $wmFlavors}}
{{-             if or ($root.osid | lower | contains "endeavouros") ($root.osid | lower | contains "cachyos") }}
{{-                 if eq .name "arch" }}
{{-                     $archPackages := index .packages }}
{{-                     if and $archPackages (gt (len $archPackages) 0) }}
                            info "Installing Arch {{ $wmName }} packages:"
                            sudo pacman -Syyu --noconfirm --needed {{ range $archPackages }}{{.}} {{ end }}
{{-                     end }}
{{-                     $aurPackages := index $wmFlavors.arch "aur-packages" }}
{{-                     if and $aurPackages (gt (len $aurPackages) 0) }}
                            info "Installing AUR packages:"
                            if command -v "paru" > /dev/null; then
                                paru -Syyu --noconfirm --needed {{ range $aurPackages}} {{.}}{{ end }}
                            elif type -P yay >/dev/null 2>&1; then
                                yay -Syyu --noconfirm --needed {{ range $aurPackages}} {{.}}{{ end }}
                            fi
{{-                     end }}
{{-                 end }}
{{-             else if $root.osid | lower | contains "ubuntu" }}
{{-                 if eq .name "ubuntu" }}
{{-                     $ubuntuPackages := index .packages }}
{{-                     if and $ubuntuPackages (gt (len $ubuntuPackages) 0) }}
                            info "Installing Ubuntu {{ $wmName }} packages:"
                            sudo apt-get update -qq
                            sudo apt-get install -y --no-install-recommends {{ range $ubuntuPackages }}{{.}} {{ end }}
{{-                     end }}
{{-                 end }}
{{-         end }}
{{-         end }}
{{-     end }}
{{- end }}
# vim: filetype=bash