#!/usr/bin/env bash

set -euo pipefail

{{- if .rtl8821ce.install }}
{{- template "common/script_is_not_ephemeral" . }}
{{- template "linux/script_linux_only" . }}
{{- template "common/script_helper" . }}

{{-   if or (.osid | lower | contains "endeavouros") (.osid | lower | contains "cachyos") }}

sudo pacman -Syyu --noconfirm --needed linux-headers dkms bc

if type -P paru >/dev/null 2>&1; then
  paru -Syyu --noconfirm --needed rtl8821ce-dkms-git
elif type -P yay >/dev/null 2>&1; then
  yay -Syyu --noconfirm --needed rtl8821ce-dkms-git
fi

{{-   else if .osid | lower | contains "ubuntu" }}
sudo apt install -y bc module-assistant build-essential dkms
sudo m-a prepare
git clone https://github.com/tomaspinho/rtl8821ce.git /tmp/rtl8821ce
cd /tmp/rtl8821ce
sudo ./dkms-install.sh

cd ~
sudo rm -vr /tmp/rtl8821ce

{{-   end }}

{{- end }}
# vim: filetype=bash