#!/usr/bin/env bash

set -euo pipefail

{{ template "workplace/script_is_not_zup" . }}
{{ template "common/script_is_not_ephemeral" . }}
{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}

info ">>>>>>> Installing WM packages <<<<<<<"
{{- $root := .settings }}
{{- range .packages.linux.wm }}
{{-     $wmName     := .name }}
{{-     $wmFlavors  := .flavors }}
{{-     $enabled  := false }}
{{-     if and (eq $wmName "i3") ( $root.i3.enabled ) }}
{{-         $enabled  = true }}
{{-     end }}
{{-     if and (eq $wmName "niri") ( $root.niri.enabled ) }}
{{-         $enabled = true }}
{{-     end }}
{{-     if $enabled }}
{{-         range $wmFlavors}}
{{-             if or ($root.osid | lower | contains "endeavouros") ($root.osid | lower | contains "cachyos") }}
{{-                 if eq .name "arch" }}
{{-                     $archPackages := index .packages }}
{{-                     if and $archPackages (gt (len $archPackages) 0) }}
                            info "Installing Arch {{ $wmName }} packages:"
                            sudo pacman -Syyu --noconfirm --needed {{ range $archPackages }}{{.}} {{ end }}
{{-                     end }}
{{-                     $aurPackages := index $wmFlavors.arch "aur-packages" }}
{{-                     if and $aurPackages (gt (len $aurPackages) 0) }}
                            info "Installing AUR packages:"
                            if command -v "paru" > /dev/null; then
                                paru -Syyu --noconfirm --needed {{ range $aurPackages}} {{.}}{{ end }}
                            elif type -P yay >/dev/null 2>&1; then
                                yay -Syyu --noconfirm --needed {{ range $aurPackages}} {{.}}{{ end }}
                            fi
{{-                     end }}
{{-                 end }}
{{-             else if $root.osid | lower | contains "ubuntu" }}
{{-                 if eq .name "ubuntu" }}
{{-                     $ubuntuPackages := index .packages }}
{{-                     if and $ubuntuPackages (gt (len $ubuntuPackages) 0) }}
                            info "Installing Ubuntu {{ $wmName }} packages:"
                            sudo apt-get update -qq
                            sudo apt-get install -y --no-install-recommends {{ range $ubuntuPackages }}{{.}} {{ end }}
{{-                     end }}
{{-                 end }}
{{-         end }}
{{-         end }}
{{-     end }}
{{- end }}

{{- if $root.niri.enabled }}

{{-     if $root.osid | lower | contains "ubuntu" }}

info ">>> 🦉 Installing Niri and noctalia-shell (Ubuntu)..."

sudo add-apt-repository -y ppa:avengemedia/danklinux
sudo add-apt-repository -y ppa:avengemedia/dms

[ ! -f "/etc/apt/keyrings/noctalia.gpg" ] && curl -fsSL https://pkg.noctalia.dev/gpg.key | sudo gpg --dearmor -o /etc/apt/keyrings/noctalia.gpg
[ ! -f "/etc/apt/sources.list.d/noctalia.list" ] && echo "deb [signed-by=/etc/apt/keyrings/noctalia.gpg] https://pkg.noctalia.dev/apt {{ .chezmoi.osRelease.ubuntuCodename }} main" | sudo tee /etc/apt/sources.list.d/noctalia.list
sudo apt update -y 
sudo apt install -y niri noctalia-shell

{{-     end }}

success " 🦉 Installed Niri and noctalia-shell"

{{- end }}
# vim: filetype=bash