#!/usr/bin/env bash

set -euo pipefail

{{ if .settings.kernels.install }}
{{ template "common/script_is_not_ephemeral" . }}
{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}


{{ if.settings.osid | lower | contains "endeavouros" }}

info "Installing Arch Kernels"

sudo pacman -Syyu --noconfirm --needed {{ range .linux.arch.kernels }} {{.}}{{end}}


success "Installed Arch Kernels"

{{ else }}

#CachyOS	
{{ if.settings.osid | lower | contains "cachyos" }}
info "Installing CachyOs Kernels"

sudo pacman -Syyu --noconfirm --needed {{ range .linux.cachyos.kernels }} {{.}}{{end}}


success "Installed CachyOs Kernels"
{{ else }}
{{ if.settings.osid | lower | contains "ubuntu" }}
sudo add-apt-repository -y ppa:damentz/liquorix
sudo apt update -y
sudo apt install -y \
    linux-image-liquorix-amd64 \
    linux-headers-liquorix-amd64
success "Installed Liquorix Kernel on Ubuntu"
{{ end }}


{{ end }}
{{ end }}
{{ end }}
# vim: filetype=bash