#!/usr/bin/env bash

set -euo pipefail
{{ template "common/script_is_not_ephemeral" . }}
{{- if and (.workplace ) (eq .workplace "instivo") }}

{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}

{{-		if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}

# ============================================
# 1. Installing openvpn3
# ============================================
AUR_INSTALLER="yay"
if command -v "paru" > /dev/null; then
	AUR_INSTALLER="paru"
fi

if ! command -v "openvpn3" > /dev/null; then
	info "Installing gdbuspp + openvpn3"
	info "Installing gdbuspp"
	cd /tmp
	$AUR_INSTALLER -G gdbuspp
	cd gdbuspp/
	cp ~/.local/build/gdbuspp/PKGBUILD .
	makepkg -sri
	rm -rf /tmp/gdbuspp/
	success "gdbuspp installed"

	info "Installing openvpn3"
	$AUR_INSTALLER -Sy --noconfirm --needed openvpn3
	success "openvpn3 installed"
fi

if ! command -v "openvpn3" > /dev/null; then
	warn "Installing gdbuspp-git and openvpn3-git"
	$AUR_INSTALLER -Sy --noconfirm --needed gdbuspp-git openvpn3-git
	success "openvpn3-git installed"
fi

{{-		end }}
{{- end }}
# -*-mode:sh-*- vim:ft=sh.gotexttmpl
# vim: filetype=bash