#!/usr/bin/env bash

set -euo pipefail

{{- if and (eq .profile "work") (eq .work.on "instivo") }}

{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}

{{-		if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}
# ============================================
# 1. Configurando VPN
# ============================================

if command -v "openvpn3" > /dev/null; then
	info "Configurando VPN Instivo"
	export INSTIVO_OVPN_FILE=$HOME/.local/share/vpn/instivo.ovpn
	export VPN_INSTIVO_CONFIG_NAME="instivo"

	openvpn3 config-import --config ${INSTIVO_OVPN_FILE} --name ${VPN_INSTIVO_CONFIG_NAME} --persistent

	success "VPN Instivo Configurada"
fi

{{-		end }}
{{- end }}
# -*-mode:sh-*- vim:ft=sh.gotexttmpl
# vim: filetype=bash