#!/usr/bin/env bash

set -euo pipefail

{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}


# ----------------------------
# Ubuntu
# ----------------------------
{{- if .osid | lower | contains "ubuntu" }}

info ">>> Install dependencies Tmux (Ubuntu)"

sudo apt install -y \
  libevent-dev \
  ncurses-dev \
  build-essential \
  bison \
  pkg-config


{{- end }}

# ----------------------------
# Arch / EndeavourOS / CachyOS
# ----------------------------
{{- if or (.osid | lower | contains "endeavouros") (.osid | lower | contains "cachyos") }}

info ">>> Install dependencies Tmux (Arch)"

sudo pacman -Syyu --noconfirm --needed \
    base-devel \
    libevent \
    ncurses \
    make \
    bison \
    pkg-config

{{- end }}

# ----------------------------
# Remove previous Tmux installations
# ----------------------------

info ">>> Remove previous Tmux installations"

if [ -d $HOME/.local/share/tmux/ ]; then 
  sudo rm -r $HOME/.local/share/tmux
fi
if [ -f /usr/local/bin/tmux ]; then
  sudo rm /usr/local/bin/tmux 
fi
if [ -f $HOME/.local/bin/tmux ]; then
  sudo rm $HOME/.local/bin/tmux 
fi
if [ -d $HOME/.local/src/tmux ]; then 
  sudo rm -r $HOME/.local/src/tmux 
fi
if [ -d $HOME/.local/state/nvim ]; then 
  sudo rm -r $HOME/.local/state/nvim 
fi
if [ -d $HOME/.tmux ]; then
  sudo rm -r $HOME/.tmux
fi

# ----------------------------
# Build neovim
# ----------------------------
info ">>> Build Tmux from source"

git clone https://github.com/tmux/tmux.git $HOME/.local/src/tmux
cd $HOME/.local/src/tmux
git pull
#git checkout 3.3a
sh autogen.sh
if [ `uname` = 'Darwin' ]; then
  ./configure --enable-utf8proc --prefix=$HOME/.local
elif [ `uname` = 'Linux' ]; then 
  #./configure
  # Test config (https://github.com/tmux/tmux/issues/3218)
  sudo ./configure --enable-debug
fi
sudo make 
sudo make install

success ">>> Tmux build process finished successfully"
# vim: filetype=bash
