#!/usr/bin/env bash

set -euo pipefail

{{- template "common/script_is_not_ephemeral" . }}
{{- template "linux/script_linux_only" . }}
{{- template "common/script_helper" . }}

info ">>>Installing nix"
export RUST_BACKTRACE=full && curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install --no-confirm 
info "Nix version: $(nix --version)"
. /nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh


info "Installing devenv"
nix-env --install --attr devenv -f https://github.com/NixOS/nixpkgs/tarball/nixpkgs-unstable


sudo tee /etc/nix/nix.custom.conf > /dev/null <<'EOF'
eval-cores = 0
trusted-users = root ${USER}
extra-substituters = https://devenv.cachix.org
extra-trusted-public-keys = devenv.cachix.org-1:w1cLUi8dv3hnoSPGAuibQv+f9TZLr6cv/Hm9XgU50cw=
EOF

sudo systemctl restart nix-daemon

# vim: filetype=bash
