#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_helper" . }}

if [ -d $HOME/.config/nvim ]; then 
  sudo rm -r $HOME/.config/nvim 
fi


git clone git@github.com:fabiosouzadev/kickstart.nvim.git ~/.config/nvim

success ">>>> Configured Nvim"
# vim: filetype=bash

