#!/usr/bin/env bash

set -euo pipefail

{{ template "workplace/script_is_not_zup" . }}
{{ template "common/script_is_not_ephemeral" . }}
{{ template "linux/script_arch_based_only" . }}
{{ template "common/script_helper" . }}

export PATH="$HOME/.local/bin/:$PATH"


info "Updating Arch packages"
sudo pacman -Syyu
success "Updated Arch packages"

info "Installing Arch packages"
sudo pacman -Syyu --noconfirm --needed {{ range .packages.linux.arch.core }} {{.}}{{end}} {{ range .packages.linux.arch.extra }} {{.}}{{end}} {{ range .packages.linux.arch.multilib }} {{.}}{{end}}

if command -v "paru" > /dev/null; then
  paru -Syyu --noconfirm --needed {{ range .packages.linux.arch.aur }} {{.}}{{ end }}
elif type -P yay >/dev/null 2>&1; then
  yay -Syyu --noconfirm --needed {{ range .packages.linux.arch.aur }} {{.}}{{ end }}
fi

success "Installed Arch packages"

# vim: filetype=bash