#!/usr/bin/env bash

{{-  if .openclaw.install }}

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

# Remove old OpenClaw installation if it exists
if command -v openclaw &> /dev/null; then
    warn ">>> 🧹 OpenClaw is already installed. Removing old version..."
    openclaw uninstall --all --yes --non-interactive
    rm -rfv "${OPENCLAW_STATE_DIR:-$HOME/.openclaw}"

    if command -v npm &> /dev/null; then
        npm uninstall -g openclaw || true
    fi

    if command -v pnpm &> /dev/null; then
        pnpm remove -g openclaw || true
    fi

    if command -v bun &> /dev/null; then
        bun remove -g openclaw || true
    fi

    if [ -f "$HOME/.config/systemd/user/openclaw-gateway.service" ]; then
        if command -v systemctl &> /dev/null; then
            systemctl --user disable --now openclaw-gateway.service || true
            systemctl --user daemon-reload || true
        fi
        rm -f "$HOME/.config/systemd/user/openclaw-gateway.service"
    fi

    if [ -f "$HOME/.local/bin/openclaw" ]; then
        rm -f "$HOME/.local/bin/openclaw"
    fi

    if [ -f "$HOME/.npm-global/bin/openclaw" ]; then
        rm -f "$HOME/.npm-global/bin/openclaw"
    fi

    success " 🧹🦞 OpenClaw was uninstalled 🧹"
fi

if [ -d "$HOME/openclaw" ]; then
    rm -rf "$HOME/openclaw"
fi

#Install OpenClaw
info ">>>>> 🦞 Installing OpenClaw <<<<<<"

npm install -g openclaw@beta

{{ template "common/script_validate_completions_path" . }}

openclaw completion --shell zsh \
    > "$HOME/.local/share/zsh/site-functions/openclaw.zsh"

#openclaw gateway install
#openclaw gateway
#systemctl --user start openclaw-gateway.service

success ">>>>>> 🦞 OpenClaw Installed Version: $(openclaw --version) <<<<<<"

{{-  end }}

# vim: filetype=bash
