#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

#Install Gemini Cli
info "Installing gemini-cli"

npm install -g @google/gemini-cli@preview

success ">>> Gemini Cli Installed Version: $(gemini -v)"

# vim: filetype=bash
