#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_helper" . }}

if ! command -v "git" > /dev/null; then
{{- if eq .chezmoi.os "linux" -}}
{{-      if eq .chezmoi.osRelease.id "ubuntu" }}
                sudo apt update
                sudo apt install -y git
{{-     else if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}
                sudo pacman -Syyu --noconfirm --needed git
{{- else if eq .chezmoi.os "windows" }}
        winget install --id Git.Git -e --source winget
{{- else if eq .chezmoi.os "darwin" }}
        if command -v "brew" && [ -f "$BREW_DIR/Brewfile" ]; then
                brew install git
        else if command -v port >/dev/null 2>&1; then
                sudo port install git
        fi
{{-     end }}
{{- end }}
fi

if ! command -v "jq" > /dev/null; then
{{- if eq .chezmoi.os "linux" }}
{{-     if eq .chezmoi.osRelease.id "ubuntu" }}
                sudo apt update
                sudo apt install -y jq
{{-      else if (or (eq .chezmoi.osRelease.id "endeavouros") (eq .chezmoi.osRelease.id "cachyos")) }}
                sudo pacman -Syyu --noconfirm --needed jq
{{- else if eq .chezmoi.os "windows" }}
        winget install jqlang.jq
{{- else if eq .chezmoi.os "darwin" }}
        if command -v "brew" && [ -f "$BREW_DIR/Brewfile" ]; then
                brew install jq
        else if command -v port >/dev/null 2>&1; then
                sudo port install jq
        fi
{{-     end}}
{{- end }}
fi

clone_or_update() {
  local repo="$1"
  local target="$2"

  mkdir -p "$(dirname "$target")"

  if [ -d "$target/.git" ]; then
    warn "Pull failed: $repo"
  else
    info "Cloning $repo → $target"
    git clone "$repo" "$target" >/dev/null
  fi
}



BASE_PERSONAL="$HOME/Workspaces/Personal"
BASE_WORK="$HOME/Workspaces/Work"
BASE_OTHER="$HOME/Workspaces/Others"

[ -d "$BASE_PERSONAL" ] || mkdir -p "$BASE_PERSONAL"

[ -d "$BASE_WORK" ] || mkdir -p "$BASE_WORK"

[ -d "$BASE_OTHER" ] || mkdir -p "$BASE_OTHER"


#Personal repos
{{- if .repos.personal  }}
{{- 	range .repos.personal }}
	repo="{{ .repo }}"
	path="{{ .path }}"
{{- 		if or (.path | hasPrefix "/") (.path | contains "HOME") }}
	target="$path"
{{- 		else }}
	target="$BASE_PERSONAL/$path"
{{- 		end }}
	clone_or_update "$repo" "$target"
{{- 	end }}
{{- else }}
warn "No personal repository defined"
{{- end }}

#Other repos
{{ if .repos.other  }}
{{-		range .repos.other }}
repo="{{ .repo }}"
path="{{ .path }}"
{{-         if or (.path | hasPrefix "/") (.path | contains "HOME") }}
	target="$path"
{{- 		else }}
	target="$BASE_OTHER/$path"
{{- 		end }}
	clone_or_update "$repo" "$target"
{{- 	end }}
{{ else }}
warn "No others repository defined"
{{ end }}

# Work repos
{{- $workplace := .workplace }}
{{ if and (.repos.work) (eq .profile "work") -}}
{{-         range .repos.work.workplaces }}
{{-             $workplaceName := .name }}
{{-             $repos         := .repos }}
{{-             if (eq $workplaceName $workplace) }}
                    newBaseWork="$BASE_WORK/{{ $workplace }}"
                    [ -d $newBaseWork ] || mkdir -p $newBaseWork
{{-                 range $repos }}
                        echo " >>>>> Workplace:{{ $workplaceName }} <<<<"
                        repo="{{ .repo }}"
                        path="{{ .path }}"
                        target="$newBaseWork/$path"
                        clone_or_update "$repo" "$target"
{{-                 end }}
{{-             end }}
{{-         end }}
{{ else }}
warn "No working repository defined OR not a work profile"
{{ end }}


success ">>>> All repositories processed successfully. <<<<<"
# -*-mode:sh-*- vim:ft=sh.gotexttmpl
# vim: filetype=bash