#!/usr/bin/env bash
{{ if eq .chezmoi.os "darwin" }}

set -e

# Install Homebrew
BREW_DIR="$HOME/.config/homebrew"
if ! command -v "brew" && [ -f "$BREW_DIR/Brewfile" ]; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew bundle --file=/dev/stdin <<EOF
{{- range .packages.homebrew.tap | uniq }}
tap {{ . | quote }}
{{- end }}


{{- range .packages.homebrew.brew | uniq }}
brew {{ . | quote }}
{{- end }}


{{- range .packages.homebrew.cask | uniq }}
cask {{ . | quote }}
{{- end }}

{{- range .packages.homebrew.mas | uniq }}
mas {{ .name | quote }}, id: {{ .id }}
{{- end }}
EOF

{{ end }}
# -*-mode:ruby-*- vim:ft=ruby.gotexttmpl