#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

#Install SpecKit CLI -> Spec Framework
# https://github.com/github/spec-kit
info ">>> Installing SpecKit Github CLI"

uv tool install specify-cli --from git+https://github.com/github/spec-kit.git

success ">>> SpecKit Github Cli Installed"
specify version

# vim: filetype=bash
