#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

#Install OpenSpec CLI -> Spec Framework
info ">>> Installing OpenSpec CLI"

OPENSPEC_NO_COMPLETIONS=1 npm install -g @fission-ai/openspec@latest

{{ template "common/script_validate_completions_path" . }}

openspec completion generate zsh \
    > ~/.local/share/zsh/site-functions/_openspec

success ">>> OpenSpec Cli Installed Version: $(openspec --version)"

# vim: filetype=bash
