#!/usr/bin/env bash

set -euo pipefail

{{- template "common/script_is_not_ephemeral" . }}
{{- template "linux/script_linux_only" . }}
{{-	if.settings.osid | lower | contains "endeavouros" }}
{{ template "common/script_helper" . }}


if ! command -v "paru" > /dev/null; then
	info "Installing Paru"
	sudo pacman -Syyu --noconfirm --needed base-devel git
	cd /tmp && git clone https://aur.archlinux.org/paru.git
	cd paru
	makepkg -rsi --noconfirm
	cd ~ && rm -Rf /tmp/paru/
	sudo sed -i -e 's/^#Color/Color/' --e 's/^#BottomUp/BottomUp/' -e 's/^#SudoLoop/SudoLoop/' -e 's/^#CombinedUpgrade/CombinedUpgrade/' -e 's/^#UpgradeMenu/UpgradeMenu/' -e 's/^#NewsOnUpgrade/NewsOnUpgrade/' /etc/paru.conf
	echo "SkipReview" | sudo tee -a /etc/paru.conf > /dev/null
	paru --gendb;
	success "Paru Installed"
fi

{{-	end }}
# vim: filetype=bash