#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_is_not_ephemeral" . }}
{{ template "linux/script_arch_based_only" . }}
{{ template "common/script_helper" . }}


info "Installing virtualisation tools"

sudo pacman -Syyu --noconfirm --needed {{ range .packages.linux.arch.virtualisation.arch }} {{.}}{{ end }}
sudo systemctl enable --now libvirtd.service
sudo usermod -a -G libvirt $(whoami)

sudo sed -i -e 's/^#unix_sock_group/unix_sock_group/' -e "s/^#unix_sock_rw_perms/unix_sock_rw_perms/" -e "s/^#unix_sock_rw_perms/unix_sock_rw_perms/"  /etc/libvirt/libvirtd.conf

echo "user = \"$(whoami)\"" | sudo tee -a /etc/libvirt/qemu.conf > /dev/null
echo "group = \"$(whoami)\"" | sudo tee -a /etc/libvirt/qemu.conf > /dev/null

success "Installed virtualization tools\n"

# -*-mode:sh-*- vim:ft=sh.gotexttmpl
# vim: filetype=bash
