#!/usr/bin/env bash

set -euo pipefail

{{ template "linux/script_arch_based_only" . }}
{{ template "common/script_helper" . }}

info "Installing Devops core packages"
sudo pacman -Syyu --noconfirm --needed {{ range .packages.linux.arch.devops.arch }} {{.}}{{end}}
success "Installed Devops core packages"


if type -P paru >/dev/null 2>&1; then
    info "Installing Devops AUR packages with paru"
    paru -Syyu --noconfirm --needed {{ range .packages.linux.arch.devops.aur }} {{.}}{{ end }}
    success "Installed Devops AUR packages"
elif type -P yay >/dev/null 2>&1; then
    info "Installing Devops AUR packages with yay"
    yay -Syyu --noconfirm --needed {{ range .packages.linux.arch.devops.aur }} {{.}}{{ end }}
    success "Installed Devops AUR packages"
fi

#sudo usermod -aG docker ${USER}
#newgrp docker ## Command crashes this file
# sudo systemctl start docker.service

# -*-mode:sh-*- vim:ft=sh.gotexttmpl
# vim: filetype=bash
