{
  "env": {
    {{ $api_key := joinPath .chezmoi.sourceDir "dot_keys" "encrypted_freemodels-key.txt.age" -}}
    "ANTHROPIC_API_KEY": "{{ include $api_key| decrypt | trim }}",
    "ANTHROPIC_BASE_URL": "https://cc.freemodel.dev",
    "CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC": "1"
  },
  "permissions": {
      "allow": [],
      "deny": []
  },
  "apiKeyHelper": "echo '{{ include $api_key| decrypt | trim }}'"
}