[profile 319569500149_ViewOnlyAccess]
sso_start_url = https://clarocorp.awsapps.com/start#/
sso_region = us-east-1
sso_account_id = 319569500149
sso_role_name = ViewOnlyAccess
region = us-east-1
output = json
