services:
  dockge:
    image: louislam/dockge:1
    restart: unless-stopped
    ports:
      # Host Port:Container Port
      - 5001:5001
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./data:/app/data
        
      # If you want to use private registries, you need to share the auth file with Dockge:
      # - /root/.docker/:/root/.docker

      # Stacks Directory
      # Your stacks directory in the host (The paths inside container must be the same as the host)
      # ⚠️ If you did it wrong, your data could end up be written into a wrong path.
      # ✔️ CORRECT EXAMPLE: - /my-stacks:/my-stacks (Both paths match)
      # ❌ WRONG EXAMPLE: - /docker:/my-stacks (Both paths do not match)
      - {{ .chezmoi.homeDir }}/.local/opt/stacks:{{ .chezmoi.homeDir }}/.local/opt/stacks
    environment:
      # Tell Dockge where to find the stacks
      - DOCKGE_STACKS_DIR={{ .chezmoi.homeDir }}/.local/opt/stacks
      - DOCKGE_ENABLE_CONSOLE=true
      - PUID={{ .chezmoi.uid }} # Set the stack file/dir ownership to this user
      - PGID={{ .chezmoi.gid }} # Set the stack file/dir ownership to this group
