[".config/atuin/themes"]
type = "archive"
url = "https://github.com/catppuccin/atuin/archive/refs/heads/main.zip"
exact = true
stripComponents = 3 
refreshPeriod = "168h"
include = ["*/themes/mocha/**"]

# vim: filetype=toml