[".local/share/icons"]
type = "archive"
url = "https://github.com/PapirusDevelopmentTeam/papirus-icon-theme/archive/refs/tags/20250501.zip"
exact = true
refreshPeriod = "168h"
stripComponents = 1
include = ["*/Papirus/**", "*/Papirus-Dark/**", "*/Papirus-Light/**"]

[".local/share/icons/candy-icons"]
type = "archive"
url = "https://github.com/EliverLara/candy-icons/archive/refs/heads/master.zip"
exact = true
refreshPeriod = "168h"
stripComponents = 1

# vim: filetype=toml