export HISTSIZE=1000000000
export SAVEHIST=$HISTSIZE
export HISTFILE=~/.zsh_history
export HISTDUP=erase
setopt EXTENDED_HISTORY
setopt autocd
setopt inc_append_history
setopt share_history
setopt hist_ignore_space
setopt hist_ignore_all_dups
setopt hist_save_no_dups
setopt hist_ignore_dups
setopt hist_find_no_dups

# vim: filetype=bash
