alias -- g=git
alias -- ga='git add'
alias -- gaa='git add --all'
alias -- gac='git add -A && git commit -v'
alias -- gacm='git add -A && git commit -m'
alias -- gbD='git branch -D'
alias -- gbd='git branch -d'
alias -- gbdr='git push origin --delete'
alias -- gbl='git blame'
alias -- gblc='git blame -C'
alias -- gbr='git branch'
alias -- gc='git commit -v'
alias -- gca='git commit --amend'
alias -- gcb='git checkout -b'
alias -- gcl='git clone'
alias -- gclean='git clean -fd'
alias -- gcm='git commit -m'
alias -- gco='git checkout'
alias -- gcop='git branch | fzf | xargs git checkout'
alias -- gd='git diff'
alias -- gdc='git diff --cached'
alias -- gds='git diff --stat'
alias -- gdsh='git diff --stat HEAD'
alias -- gft='git fetch'
alias -- gfu='git fetch upstream'
alias -- gg='git grep'
alias -- ggrep='git ls-files | rg'
alias -- gl='git log --oneline --graph --decorate -n 20'
alias -- glo='git log --oneline --graph --decorate --all'
alias -- glp='git log --oneline --graph --decorate --all --pretty='\''%C(yellow)%h%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'''
alias -- gm='git merge'
alias -- gma='git merge --abort'
alias -- gmc='git merge --continue'
alias -- gml='git diff --name-only --diff-filter=U'
alias -- gpl='git pull'
alias -- gplr='git pull --rebase'
alias -- gprune='git fetch --prune && git branch --merged | grep -v '\''\*'\'' | xargs -n 1 git branch -d'
alias -- gps='git push'
alias -- gpsf='git push --force-with-lease'
alias -- gr='git reset'
alias -- grbmain='git fetch origin && git rebase origin/main'
alias -- gref='git reflog'
alias -- grh='git reset --hard'
alias -- grhc='git reset --hard && git clean -fd'
alias -- gri='git rebase -i'
alias -- gs='git status'
alias -- gss='git status --short'
alias -- gst='git stash'
alias -- gsta='git stash apply'
alias -- gstl='git stash list'
alias -- gstp='git stash pop'
alias -- gsts='git stash push -m'
alias -- gup='git fetch upstream && git rebase upstream/main'
alias -- gwho='git shortlog -s -n'
alias -- gwt='git worktree list'
