{{-  if and (.settings.vps) (.features.composio.enabled) }}
export COMPOSIO_INSTALL_DIR="$HOME/.composio"
export PATH="$COMPOSIO_INSTALL_DIR:$PATH"
{{- end }}

# vim: noet ci pi sts=0 sw=4 ts=4
# vim: filetype=bash