{{ template "workplace/script_is_zup" . }}

#OLLAMA
export OLLAMA_API_KEY=$ZUP_OLLAMA_API_KEY

#GITHUB
export GITHUB_PERSONAL_ACCESS_TOKEN=$ZUP_GITHUB_PERSONAL_ACCESS_TOKEN
export GH_TOKEN=$ZUP_GH_TOKEN
export GITHUB_TOKEN=$ZUP_GITHUB_TOKEN
export GITHUB_COPILOT_TOKEN=$ZUP_GITHUB_COPILOT_TOKEN

# Gemini
export GEMINI_API_KEY=$ZUP_GEMINI_API_KEY

# CURSOR
export CURSOR_API_KEY=$ZUP_CURSOR_API_KEY


#OPENCODE
export OPENCODE_API_KEY=$ZUP_OPENCODE_API_KEY

#OPENROUTER
export OPENROUTER_OPENAI_BASE_URL=$ZUP_OPENROUTER_OPENAI_BASE_URL
export OPENROUTER_API_KEY=$ZUP_OPENROUTER_API_KEY
