{{ template "workplace/script_is_zup" . }}

# GitLab CLI (glab) - ClaroBrasil self-hosted instance
export GITLAB_TOKEN=$ZUP_GITLAB_TOKEN
export GITLAB_HOST="https://gitdev.clarobrasil.mobi"

# vim: filetype=bash
