#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

#Install Kilo Code Cli
info "Installing Kilo Code Cli"

npm install -g @kilocode/cli

success ">>> Kilo Code Cli Installed Version: $(kilo -v)"
# vim: filetype=bash
