#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

#Install Qwen Code Cli
info "Installing Qwen Code"

npm install -g @qwen-code/qwen-code

success ">>> Qwen Code Installed Version: $(qwen -v)"
# vim: filetype=bash
