{{ if .features.ai.coding_assistants -}}
#!/usr/bin/env bash

{{ template "common/script_is_not_ephemeral" . }}


{{ template "common/script_helper" . }}

#Install Codex CLI
info ">>> Installing Codex CLI"
npm i -g @openai/codex@latest

codex completion zsh \
  > "$HOME/.local/share/zsh/site-functions/_codex"

success ">>> Codex Cli Installed Version: $(codex --version)"

# vim: filetype=bash
{{- end }}
