{{ if .features.ai.coding_assistants -}}
#!/usr/bin/env bash

{{ template "common/script_is_not_ephemeral" . }}


{{ template "common/script_helper" . }}

info "Installing aider"

NO_MODIFY_PATH=1 curl -LsSf https://aider.chat/install.sh | sh

success "Aider Installed"
{{- end }}

