#!/usr/bin/env bash
{{ template "common/script_helper" . }}
{{ template "common/script_is_not_ephemeral" . }}

{{ if .features.ai.spec_tools }}

#Install SpecKit CLI -> Spec Framework
# https://github.com/github/spec-kit
info ">>> Installing SpecKit Github CLI"

uv tool install specify-cli --from git+https://github.com/github/spec-kit.git

success ">>> SpecKit Github Cli Installed"
specify version

{{ end }}

# vim: filetype=bash