#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_helper" . }}

#Install Codex CLI
info ">>> Installing Codex CLI"
npm i -g @openai/codex@latest

codex completion zsh \
  > "$HOME/.local/share/zsh/site-functions/_codex"

success ">>> Codex Cli Installed Version: $(codex --version)"

# vim: filetype=bash
