#!/usr/bin/env bash

{{ template "common/script_helper" . -}}
{{ template "common/script_is_not_ephemeral" . -}}
{{ template "workplace/script_is_vps" . }}


{{ if not .features.coolify.install }}
info ">> Coolify: feature flag disabled, skipping <<"
exit 0
{{ end }}


info "Installing Coolify"

bash -c 'curl -fsSL https://cdn.coollabs.io/coolify/install.sh | bash'

success "Coolify Installed"

# vim: filetype=bash