services:
  omniroute:
    image: diegosouzapw/omniroute:latest
    container_name: omniroute
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - API_PORT=20128
      - DASHBOARD_PORT=20129
      - REDIS_URL=redis://redis:6379
      - REDIS_PORT=6379
    volumes:
      - omniroute-data:/app/data
    ports:
      - 20128:20128
      - 20129:20129
volumes:
  omniroute-data: