services:
  omniroute:
    image: diegosouzapw/omniroute:latest
    container_name: omniroute
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - omniroute-data:/app/data
    ports:
      - 20128:20128
      - 20129:20129
volumes:
  omniroute-data: