#!/usr/bin/env bash
# vim: filetype=bash

export PATH="$HOME/.local/bin/:$PATH"

{{ if eq .chezmoi.osRelease.idLike "arch" }}

echo "Installing Arch packages"

sudo pacman -Syu --noconfirm --needed {{ range .packages.linux.arch.core }} {{.}}{{end}} {{ range .packages.linux.arch.extra }} {{.}}{{end}} {{ range .packages.linux.arch.multilib }} {{.}}{{end}}

if type -P yay >/dev/null 2>&1; then
  # yay -Syu --needed {{ range .packages.linux.arch.aur }} {{.}}{{ end }}
  yay -Syu --noconfirm --needed {{ range .packages.linux.arch.aur }} {{.}}{{ end }}
fi

{{ else }}

echo "This script is only for Arch based systems. Exiting..."
exit 1

{{ end }}
