#!/usr/bin/env bash
# vim: filetype=bash

set -euo pipefail

{{ template "workplace/script_is_not_zup" . }}
{{ template "common/script_is_not_ephemeral" . }}
{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}

{{ if not .features.networking.tailscale.install }}
info ">> Tailscale: feature flag disabled, skipping <<"
exit 0
{{ end }}


info "Installing Tailscale"

curl -fsSL https://tailscale.com/install.sh | sh

success "Tailscale Installed"

{{ template "common/script_validate_completions_path" . }}

tailscale completion zsh > "$HOME/.local/share/zsh/site-functions/_tailscale"
