#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_helper" . }}

info ">>>Installing fzf"

FZF_DIR="$HOME/.fzf"


if [ -d "$FZF_DIR" ]; then
    rm -rf $FZF_DIR
fi

git clone --depth 1 https://github.com/junegunn/fzf.git "$FZF_DIR"
~/.fzf/install --completion --key-bindings --no-update-rc


export PATH="$HOME/.fzf/bin:$PATH"

success "> Installed fzf version: $(fzf --version)"

# vim: filetype=bash