#!/usr/bin/env bash

set -euo pipefail

{{ template "linux/script_linux_only" . }}
{{ template "common/script_helper" . }}

{{- if .settings.ismanaged }}

info ">>>>>>>> Install Nvim from release <<<<<<<<"

cd /tmp
curl -fLO https://github.com/neovim/neovim/releases/download/nightly/nvim-linux-x86_64.tar.gz
tar xzf nvim-linux-x86_64.tar.gz
cp -fr nvim-linux-x86_64/* ~/.local

cd /tmp
curl -fLO https://github.com/tree-sitter/tree-sitter/releases/download/v0.25.10/tree-sitter-linux-x64.gz
gunzip -f tree-sitter-linux-x64.gz
cp -f tree-sitter-linux-x64 ~/.local/bin/tree-sitter
chmod +x ~/.local/bin/tree-sitter

{{- else if not .settings.ismanaged }}

# ----------------------------
# Ubuntu
# ----------------------------
{{-   if .settings.osid | lower | contains "ubuntu" }}

info ">>> Install dependencies Nvim (Ubuntu)"

sudo apt-get install -y ninja-build \
  gettext \
  libtool \
  libtool-bin \
  autoconf \
  automake \
  cmake \
  g++ \
  pkg-config \
  unzip \
  curl \
  doxygen


{{-   end }}

# ----------------------------
# Arch / EndeavourOS / CachyOS
# ----------------------------
{{-   if or ( .settings.osid | lower | contains "endeavouros" ) ( .settings.osid | lower | contains "cachyos" ) }}
info ">>> Install dependencies Nvim (Arch)"
{{-   end }}

# ----------------------------
# Remove previous Neovim installations
# ----------------------------

info ">>> Remove previous Neovim installations"

if [ -d $HOME/.cache/nvim/ ]; then 
  sudo rm -r $HOME/.cache/nvim 
fi 
if [ -d $HOME/.local/share/nvim/ ]; then 
  sudo rm -r $HOME/.local/share/nvim 
fi
if [ -d /usr/local/share/nvim/ ]; then
  sudo rm -r /usr/local/share/nvim 
fi
if [ -d $HOME/.local/src/neovim ]; then 
  sudo rm -r $HOME/.local/src/neovim 
fi
if [ -d $HOME/.local/state/nvim ]; then 
  sudo rm -r $HOME/.local/state/nvim 
fi
if [ -f /usr/local/bin/nvim ]; then 
  sudo rm /usr/local/bin/nvim 
fi

# ----------------------------
# Build neovim
# ----------------------------
info ">>> Build Neovim from source"

git clone https://github.com/neovim/neovim $HOME/.local/src/neovim
cd $HOME/.local/src/neovim
make distclean 
make CMAKE_BUILD_TYPE=RelWithDebInfo CMAKE_INSTALL_PREFIX=$HOME/.local
make install

success ">>> Neovim build process finished successfully"

{{- end }}

success ">>> Neovim configured successfully"
# vim: filetype=bash