#!/usr/bin/env bash

set -euo pipefail

{{ template "common/script_eval_mise" . }}
{{ template "common/script_helper" . }}

#Install Copilot Cli
info "Installing copilot-cli"

npm install -g @github/copilot@prerelease

success ">>> Copilot Cli Installed Version: $(copilot -v)"

# vim: filetype=bash
