#!/usr/bin/env bash
# vim: filetype=bash

set -euo pipefail

{{ template "workplace/script_is_not_zup" . }}
{{ template "common/script_is_not_ephemeral" . }}
{{ template "linux/script_linux_only" . }}
{{ template "linux/script_arch_based_only" . }}
{{ template "common/script_helper" . }}


info "Installing Tailscale"

curl -fsSL https://tailscale.com/install.sh | sh

success "Tailscale Installed"


