clients:
- type: openai-compatible
  name: ollama
  api_base: http://localhost:11434/v1
  models:
    - name: deepseek-r1:8b
      max_input_tokens: 131072
    - name: deepseek-coder:6.7b-instruct-q4_K_M
      max_input_tokens: 131072
    - name: llama3.1:8b
      max_input_tokens: 128000
      supports_function_calling: true
- type: gemini
  api_base: https://generativelanguage.googleapis.com/v1beta
  # api_key: xxx
  patch:
    chat_completions:
      '.*':
        body:
          safetySettings:
            - category: HARM_CATEGORY_HARASSMENT
              threshold: BLOCK_NONE
            - category: HARM_CATEGORY_HATE_SPEECH
              threshold: BLOCK_NONE
            - category: HARM_CATEGORY_SEXUALLY_EXPLICIT
              threshold: BLOCK_NONE
            - category: HARM_CATEGORY_DANGEROUS_CONTENT
              threshold: BLOCK_NONE
