services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    restart: unless-stopped
    env_file: .env
    expose:
      - "11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - edge-network
volumes:
  ollama_data: null
networks:
  edge-network:
    external: true