{{- if eq .settings.workplace "Zup" -}}
[include]
	path = ~/.config/git/config.zup.inc

[includeIf "gitdir:{{.dirs.workspaces.personal}}/"]
	path = ~/.config/git/config.personal-ssh.inc.tmpl

[includeIf "gitdir:{{.dirs.workspaces.others}}/"]
	path = ~/.config/git/config.personal-ssh.inc.tmpl

[includeIf "gitdir:{{.chezmoi.config.sourceDir}}/"]
	path = ~/.config/git/config.personal-ssh.inc.tmpl
{{- 	else if .settings.vps -}}
[include]
	path = ~/.config/git/config.vps.inc
{{- 	else -}}
[include]
	path = ~/.config/git/config.personal.inc
{{- end }}

[commit]
    gpgsign = true

[tag]
    gpgSign = true

[gpg]
    program = {{ .gpg.program }}

[color]
	ui = true

[init]
    defaultBranch = main

[core]
	editor = nvim
	pager  = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = "~/.config/git/themes/catppuccin.gitconfig"

[delta]
	features = "catppuccin-mocha"
	line-numbers = true
	navigate = true
	side-by-side = true
	dark = true

[fetch]
	prune  = true
	rebase = true

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[credential]
	helper = "gh auth git-credential"

[diff]
	colorMoved = "zebra"