[user]
	name       = Fabio Souza
	email      = 1536954+fabiosouzadev@users.noreply.github.com
	signingkey = C75A6078DAFE3B88
[core]
	sshCommand = "ssh -i $HOME/.ssh/id_ed25519_vps"
[gpg]
    program = {{- .gpg.program -}}