[user]
	name       = Fabio Vanderlei de Souza (Zup)
	email      = 3665-fabio.vanderlei.zup@users.noreply.gitdev.clarobrasil.mobi
	signingkey = BA7F642CFD8466A1
[core]
	sshCommand = "ssh -i $HOME/.ssh/id_ed25519_zup"