[user]
	name       = Fabio Vanderlei de Souza (Zup)
	email      = fabio.vanderlei@zup.com.br
	signingkey = BA7F642CFD8466A1
[core]
	sshCommand = "ssh -i $HOME/.ssh/id_ed25519_zup"
[gpg]
    program = {{- .gpg.program -}}