[user]
	name = Fabio Souza
	email = fabiovanderlei.developer@gmail.com
	signingkey = 9D79F9FD64781516

[color]
	ui = true

[init]
        defaultBranch = main

[core]
	editor = nvim
	pager  = delta

[interactive]
	diffFilter = delta --color-only

[include]
	path = "~/.config/git/themes/catppuccin.gitconfig"

[delta]
	features = "catppuccin-mocha"
	line-numbers = true
	navigate = true
	side-by-side = true
	dark = true

[fetch]
	prune = true

[merge]
	tool = "nvimdiff"
	conflictStyle = zdiff3

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[rebase]
	autoStash = true

[tag]
	gpgSign = true

[commit]
	gpgsign = true

[credential]
	helper = "gh auth git-credential"

[diff]
	colorMoved = "zebra"

[includeIf "hasconfig:remote.*.url:git@github.com:Instivo/**"]
	path = ~/.config/git/config.instivo.inc

[includeIf "hasconfig:remote.*.url:git@github.com:nexialab/**"]
	path = ~/.config/git/config.nexialab.inc
