[user]
	name       = Fabio Vanderlei de Souza (Zup)
	email      = 267404515+fabiovsouzazup@users.noreply.github.com
	signingkey = BA7F642CFD8466A1
[core]
	sshCommand = "ssh -i $HOME/.ssh/id_ed25519_personal"
[gpg]
    program = {{- .gpg.program -}}