{{- $omniroute_key := joinPath .chezmoi.sourceDir "dot_keys" "encrypted_omniroute-key.txt.asc" -}}
{{- if eq .settings.workplace "Zup" }}
    {{- $omniroute_key = joinPath .chezmoi.sourceDir "dot_keys" "encrypted_omniroute-key-zup.txt.asc" -}}
{{- end }}

{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "lsp": true,
  "plugin": [
    "opencode-wakatime"
  ],
  "theme": "catppuccin",
  "model": "omniroute/free",
  "provider": {
    "omniroute": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "OmniRoute",
      "options": {
        "baseURL": "http://157.151.13.223/v1",
        "apiKey": "{{ include $omniroute_key | decrypt | trim }}"
      },
      "models": {
        "free": {
          "name": "free"
        },
        "fmd/gpt-5.5": {
          "name": "fmd/gpt-5.5"
        },
        "openrouter/nvidia/nemotron-3-ultra-550b-a55b:free": {
          "name": "openrouter/nvidia/nemotron-3-ultra-550b-a55b:free"
        },
        "openrouter/openrouter/free": {
          "name": "openrouter/openrouter/free"
        }
      }
    },
    "fireworks": {
      "models": {
        "accounts/fireworks/routers/kimi-k2p5-turbo": {},
      }
    }
  }
}
