{{- $omniroute_key := joinPath .chezmoi.sourceDir "dot_keys" "encrypted_omniroute-key.txt.asc" -}}
{{- if eq .settings.workplace "Zup" -}}
{{-   $omniroute_key = joinPath .chezmoi.sourceDir "dot_keys" "encrypted_omniroute-key-zup.txt.asc" -}}
{{- end -}}
{
  "$schema": "https://opencode.ai/config.json",
  "autoupdate": true,
  "lsp": true,
  "plugin": [
    "opencode-wakatime"
  ],
  "model": "omniroute/omniroute/work",
  "provider": {
    "omniroute": {
      "npm": "@ai-sdk/openai-compatible",
      "name": "OmniRoute",
      "options": {
        "baseURL": "http://157.151.13.223:20128/v1",
        "apiKey": "{{ include $omniroute_key | decrypt | trim }}"
      },
      "models": {
        "omniroute/work": {
          "name": "omniroute/work"
        },
      }
    }
  },
  "permission": {
    "read": {
      "~/.config/opencode/gsd-core/*": "allow"
    },
    "external_directory": {
      "~/.config/opencode/gsd-core/*": "allow"
    }
  }
}
