# Configuration file for Synapse.
#
# This is a YAML file: see [1] for a quick introduction. Note in particular
# that *indentation is important*: all the elements of a list or dictionary
# should have the same indentation.
#
# [1] https://docs.ansible.com/ansible/latest/reference_appendices/YAMLSyntax.html
#
# For more information on how to configure Synapse, including a complete accounting of
# each option, go to docs/usage/configuration/config_documentation.md or
# https://element-hq.github.io/synapse/latest/usage/configuration/config_documentation.html
{{ $envFile := joinPath .chezmoi.sourceDir "dot_local" "opt" "stacks" "synapse" "encrypted_dot_env.asc" -}}
server_name: "matrix-fabiosouzadev.duckdns.org"
pid_file: /data/homeserver.pid
listeners:
  - port: 8008
    resources:
    - compress: false
      names:
      - client
      - federation
    tls: false
    type: http
    x_forwarded: true
database:
  name: psycopg2
  args:
    user: synapse
    password: {{ include $envFile | decrypt | trim }}
    database: synapse
    host: postgres
    port: 5432
    cp_min: 5
    cp_max: 10
log_config: "/data/matrix-fabiosouzadev.duckdns.org.log.config"
media_store_path: /data/media_store
registration_shared_secret: "u^p=vhir.eTpEh25YLX5iIgY2,&EoGYrDcujZh.KNh~5&^Lihh"
report_stats: false
macaroon_secret_key: "2NT;Av2of-d;H1O&WMgz49:svZ7xx,yHpkC&Tu#8lLgMV=goh3"
form_secret: "D;*x&&;*c:jT2qq7HrDVbh=e=jWPlDbNMAt0ilPf0~QxAb9TeX"
signing_key_path: "/data/matrix-fabiosouzadev.duckdns.org.signing.key"
trusted_key_servers:
  - server_name: "matrix.org"


# vim:ft=yaml