{{- $hindsight_key := joinPath .chezmoi.sourceDir "dot_keys" "encrypted_hindsight-key.txt.asc" -}}

{
  "serverMode": "self-hosted",
  "apiUrl": "http://193.123.97.209:8888",
  "apiToken": "{{ include $hindsight_key | decrypt | trim }}",
  "bankId": "personal-ai"
}
